.error-indicator {
    margin: 0 auto;
    text-align: center;
    color: #fff;

    h4 {
        text-transform: uppercase;
    }

    p {
        margin-bottom: 5px;
    }

    img {
        width: 64px;
        height: 64px;
        margin-bottom: 20px;
    }
}