.item-details {
    flex: 1;

    img {
        width: 200px;
        height: 260px;
        margin-right: 10px;
    }

    .list-group {
        flex: 1;
    }

    .list-label {
        margin-right: 5px;
        font-size: 18px;
    }
}

@media screen and(max-width: 576px) {
    .item-details {
        flex-direction: column;

        img {
            margin: auto;
        }
    }
}